@import "src/assets/styles/variables.scss";

.services {
    padding: 40px 0;
    background-color: $accent-color;

    :not(button) {
        color: $dark-accent-color;
    }

    p, span, strong {
        font-size: 22px;
    }

    .header {
        margin: 0 auto;
        max-width: $inner-content-max-width;
        padding: 0 190px;
    }

    .content {
        margin-top: 80px;
    }

    .booking {
        text-align: center;
        p {
            font-size: 26px;
        }
    }
}
