@import "src/assets/styles/variables.scss";

.services {
    padding: 40px 0;
    background-color: $accent-color;

    :not(button) {
        color: $dark-accent-color;
    }

    p, span, strong {
        font-size: 22px;
    }

    .header {
        margin: 0 auto;
        max-width: $inner-content-max-width;
        padding: 0 190px;
    }

    .content {
        margin-top: 80px;
    }

    .separator {
        width: 30%;
        background-color: $soft-accent-color !important;
    }

    .booking {
        text-align: center;
        p {
            font-size: 26px;
        }
    }

    @media screen and (max-width: 767px) {
        .header {
            padding: 0 20px;

            p, strong {
                line-height: 1.2;
                font-size: 25px;
            }
        }

        .content {
            margin-top: 60px;
        }

        .booking {
            padding: 0 20px;
        }
    }
}
