@import "src/assets/styles/variables.scss";

.services {
    padding: 40px 40px;
    background-color: $accent-color;

    :not(button) {
        color: $accent-dark-color;
    }

    p, span, strong {
        font-size: 22px;        
    }

    .header {
        padding: 0 190px;
    }

    .content {
        margin-top: 80px;
    }

    .booking {
        text-align: center;
        p {
            font-size: 26px;
        }
    }
}
