@import "src/assets/styles/variables.scss";

.blog-wrapper {
    background-color: $accent-color;
    padding: 80px 40px;
    
    .blog{
        display: flex;
        flex-flow: row wrap;
        gap: 50px;

        .blog-item {
            width: 30%;
        }
    }

    @media screen and (max-width: 767px) {
        padding: 40px 40px;

        .blog {
            margin-top: 0;
            flex-flow: column;
            gap: 25px;

            .blog-item {
                width: 100%;
            }
        }
    }
}