@import "src/assets/styles/variables.scss";

.separator {
    width: 45%;
}

.biz-info {
    text-align: center;
    margin-bottom: 100px;

    h3 {
        font-style: italic;
    }
}

.parallax-wrapper {
    height: 850px;
    div {
        background-size: contain !important;
    }
}
