@import "src/assets/styles/variables.scss";

.subheader-wrapper {
    .biz-info {
        text-align: center;
        margin-bottom: 100px;

        h3 {
            font-style: italic;
        }
    }

    .parallax-wrapper {
        .parallax-banner {
            height: 850px;
            div {
                background-size: contain !important;
                background-repeat: no-repeat;
            }
        }
    }

    @media screen and (max-width: 767px) {

        .separator {
            margin-top: 0;
            width: 30%;
        }

        .parallax-wrapper {
            .parallax-banner {
                height: 550px;
                div {
                    background-size: 200%!important;
                    background-position: 60% 60%!important;
                }
            }
        }
    }
}
