@import "src/assets/styles/variables.scss";

.booking-wrapper {
    height: 1750px;
    width: 100%;

    .frame {
        border: none;
        width: 100%;
        height: 100%;
    }

    @media screen and (max-width: 767px) {
        height: 3050px;
    }
}