@import "src/assets/styles/variables.scss";

.service-item {
    display: flex;
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 30px;

    .image {
        img {
            height: 260px;
            width: 178px;
            object-fit: cover;
        }
    }

    .item-content {
        padding-left: 17px;

        .title {
            font-size: 32px;
            font-weight: bold;
            text-transform: uppercase;
            margin-top: 0;
        }

        .pricing {
            text-transform: uppercase;
        }

        .info {
            font-weight: bold;
        }

        button {
            margin-top: 20px;
        }

        margin-left: 20px;
    }
}

.separator {
    width: 30%;
    background-color: $soft-accent-color!important;
}
