.social-media-wrapper {
    text-align: center;

    .social-media-links {
        a {
            font-size: 33px;
            margin: 9px;
        }
    }

    .google-review {
        margin-top: 15px;
        font-size: 24px;
        text-align: center;

        img {
            display: block;
            margin: 0 auto;
            margin-top: 5px;
        }

        .google-logo {
            width: 40px;
        }

        .google-stars {
            width: 100px;
        }
    }
}