@import "src/assets/styles/variables.scss";

@font-face {
    font-family: "minerva-modern";   /*Can be any text*/
    src: local("minerva-modern"),
      url("/fonts/minerva-open.otf") format("opentype");
  }

body {
  background-color: $main-background-color;
}

* {
    font-family: "minerva-modern";
    color: $accent-color;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 72px;
  font-weight: 200;
  letter-spacing: -1px;
}

h2 {
  font-size: 48px;
  font-weight: 200;
  letter-spacing: -1px;
}

h3 {
  font-size: 34px;
  font-weight: 200;
  letter-spacing: -1px;
}

button {
  background-color: $soft-background-color;
  color: $accent-color;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 21px 34px;
  border: none;
  cursor: pointer;
}

.separator {
  background-color: $accent-color;
  margin: 45px auto;
  height: 1px;
  width: 75%;
}