@import "src/assets/styles/variables.scss";

@font-face {
    font-family: "minerva-modern";   /*Can be any text*/
    src: local("minerva-modern"),
      url("/fonts/minerva-open.otf") format("opentype");
  }

body {
  background-color: $main-background-color;
}

* {
    font-family: "minerva-modern";
    color: $accent-color;
}

h1 {
  font-size: 72px;
  font-weight: 200;
  letter-spacing: -1px;
}