@import "src/assets/styles/variables.scss";

.contanct-wrapper {
    gap: 60px;
    display: flex;
    justify-content: center;

    background-color: $accent-color;
    padding: 80px 40px;
    

    * {
        color: $dark-accent-color;
    }
    
    p {
        color: $darker-accent-color;
        font-size: 24px;
    }

    .contact-form {
        width: 700px;
    }

    .map {
        border: none;
        height: 400px;
        width: 100%;
    }

    @media screen and (max-width: 767px) {
        flex-direction: column;

        h1,
        h2 {
            text-align: center;
        }

        .contact-panel {
            text-align: center;
        }

        .contact-form {
            width: auto;
        }
    }
}